<!DOCTYPE html>
<html lang="de">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{{ NAME }}{% endblock title %}</title>

  {% if META %}
  <meta name="description" content="{{ META }}">
  {% endif %}

  <meta name="google-site-verification" content="{{ GOOGLE_WEBMASTERS }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-3.4.1.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,400italic,500" rel="stylesheet" type="text/css">

  {% endblock head %}
</head>
<body>

  {% block nav %}
  {% endblock %}

  <div class="container">
    {% block main %}
    {% endblock %}
  </div><!-- .container -->

  {% block footer %}
  {% endblock %}

</body>
</html>
