{% extends "base.html" %}

{% block main %}
  <header class="main-header row">
    <div class="col-md-8">
      <h1 class="name">
        <a href="mailto:{{ AUTHOR_EMAIL }}">
          Top Django Entwickler
        </a>
      </h1>
    </div>
    <div class="col-md-4">
      <h2 class="profession
                 hidden-xs hidden-sm">
        <a href="mailto:{{ AUTHOR_EMAIL }}">{{ AUTHOR }}</a>
      </h2>
    </div>
    <div class="col-md-8">
      <h2 class="claim">Expert For Hire. Perfekte Umsetzung.</h2>
    </div>
    <div class="col-md-4">
      <h3 class="address">
        <a target="_blank" href="https://goo.gl/maps/BWyXHunP5au">
        in Wien / Österreich
        </a>
      </h3>
      <h3 class="contact">
        <a class="email" href="mailto:{{ AUTHOR_EMAIL }}">{{ AUTHOR_EMAIL }}</a>,<br>
        <a class="tel" href="tel:{{ AUTHOR_TEL }}">{{ AUTHOR_TEL }}</a>
      </h3>
    </div>
  </header><!-- .main-header -->

  {% block intro %}
  <div class="row">
    <div class="col-md-8">
      <section class="intro">
        <h2>Über mich</h2>
        <div class="intro-copy">
          <p>
            Mit Django und Python helfe ich seit 2008 Unternehmen grosse und kleine Ideen umzusetzen.
          </p>
          <ul>
            <li>Bei der <strong>Planung und Entwicklung</strong> neuer Web Projekte.</li>
            <li>Bei der Weiterentwicklung und <strong>Skalierung</strong> von bestehenden Django-Projekten.</li>
            <li>Beim <strong>Aufbau eines neuen Entwickler-Teams</strong> und der Einführung <strong>agiler</strong> Entwicklungsmethoden.</li>
            <li>Als kurzfristige Unterstützung oder beim Training des eigenen Teams.</li>
          </ul>
          <br />
          <p>
            — Ich organisiere auch das <a target="_blank" href="http://www.meetup.com/Django-Vienna/">Django Vienna Meetup</a> (seit 2013) und halte dort auch regelmäßig Vorträge.
            Unser Meetup zählt mittlerweile mehr als 650 Django Entwickler (– hauptsächlich aus Wien).
          </p>
        </div><!-- .intro-copy -->
      </section><!-- .intro -->
    </div><!-- .col-* -->
    <div class="col-md-4 portrait
                hidden-xs hidden-sm">
      <a class="email" href="mailto:{{ AUTHOR_EMAIL }}">
        <img class="me" alt="{{ AUTHOR_EMAIL }}" title="{{ AUTHOR_EMAIL }}"
          src="{{ url_for('static', filename='assets/images/me.png') }}">
      </a>
    </div><!-- .portrait -->
  </div><!-- .row -->
  <div class="row">
    <div class="col-md-offset-8 col-md-4 contact-claim">
      <a class="email icomoon-mail" href="mailto:{{ AUTHOR_EMAIL }}"> Verfügbarkeit anfragen!</a>
    </div><!-- .contact-claim -->
  </div><!-- .row -->
  <div class="row">
    <div class="col-md-offset-8 col-md-4 socialmedia">
      <a class="linkedin" href="{{ AUTHOR_LINKEDIN }}">
        oder LinkedIn-Profil ansehen
      </a>
    </div><!-- .contact-claim -->

  </div><!-- .row -->

  <hr />
  <div class="row">
    <div class="col-xs-12">
      <section class="intro">
        <h2>Warum mit mir arbeiten?</h2>
        <div class="intro-copy">
          <ul>
            <li>
                <strong>Technische Kompetenz und hohes Qualitätsverständnis</strong><br>
                Ich arbeite stetig und hart daran einige Kerntechnologien ausgezeichnet zu beherrschen.<br>
                Für entwickelte Lösungen habe ich den Anspruch der einfachen Bedienbarkeit für die Nutzer
                und einer einfachen Weiterentwicklung durch andere Programmierer.
            </li>
            <li>
                <strong>Selbstständigkeit und unternehmerisches Denken</strong><br>
                Der Erfolg eines Projekts hängt leider nur zu einem kleinen Teil von der technischen Umsetzung ab:
                So <a target="_blank" href="https://www.simon-kucher.com/sites/default/files/simon-kucher_global_pricing_study_2014.pdf">scheitern 72% aller neuen Produkte</a>,
                weil zu spät der Kundennutzen hinterfragt wird.<br>
                Um den Erfolg eines Projekts besser mitzugestalten, versuche ich Probleme abseits der Technik
                anzusprechen und bei Lösungsvorschlägen zu helfen.
            </li>
            <li>
              <strong>Startup-Saas-Erfahrung und Kundenanforderungen im Fokus</strong><br>
              Im letzten Jahrzehnt habe ich viel Erfahrung in Software-As-A-Service Startups gesammelt und diese
              beim Wachstum begleitet. Ich freue mich, wenn ich dieses Wissen in neue Projekte einbringen kann.
            </li>
          </ul>
        </div><!-- .intro-copy -->
      </section><!-- .intro -->
    </div>
    <div class="col-xs-12">
      <section class="testimonials">
        <h2>Was andere sagen</h2>
        <div class="testimonial clearfix h-cite">
          <div class="testimonial-icon">
            {% include 'svg/testimonial-icon.svg' %}
          </div>
          <cite class="testimonial-cite">
            Stephan begleitet uns seit Beginn der Entwicklung bei Offensity. Mittlerweile scannen wir mit Offensity regelmässig 15.000 Subdomains für unsere Kunden.
            <br/>
            Stephan hat tiefen Einblick in unser System und ist wahrscheinlich einer der erfahrensten Django-Programmierer in Wien.
            Er bringt darüber hinaus wichtige Inputs zur geschäftlichen Entwicklung unseres Produkts ein. Im Team ist er bestens vernetzt und übernimmt eine informelle Leader-Rolle.
            <br />
            Es wäre schwierig einen anderen Entwickler mit ähnlich tiefem Fach- und Spezialwissen,
              dem gleichem Ausmaß an Eigenverantwortung oder derart gutem Geschäftssinn zu finden.
          </cite>
          <div class="testimonial-author">
              <span class="p-author h-card">Aron Molnar,
                  <a target="_blank" href="https://www.offensity.com/">Offensity</a> Gründer</span>
            (<time class="dt-published" datetime="2016-07-20">28.10.2019</time>)
          </div>
        </div><!-- .testimonial -->

        <div class="testimonial clearfix h-cite">
          <div class="testimonial-icon">
            {% include 'svg/testimonial-icon.svg' %}
          </div>
          <cite class="testimonial-cite">
            Ich hatte bereits vor tiga.eleven Gründererfahrung mit einer Taxi-App und einer eCommerce-Platform für
              Teppiche.
              Für tiga.eleven war es wichtig jemanden zu finden, der neben viel technischem Know-How auch ein
              kleines, internationales Team aufbauen und koordinieren kann.
              So konnte ich mich als Gründer auf die Weiterentwicklung des Unternehmens konzentrieren.
              <br />
              Stephan deckt diese Bereiche hervorragend ab und hat mit seinem Team ein Produkt geschaffen,
              auf das wir stolz sind und ich wirklich gerne beim Kunden präsentiere.
          </cite>
          <div class="testimonial-author">
              <span class="p-author h-card">Georg Parth, CEO <a target="_blank" href="https://tiga.at/">tiga.eleven</a></span>
            (<time class="dt-published" datetime="2016-07-20">25.7.2016</time>)
          </div>
        </div><!-- .testimonial -->

        <div class="testimonial clearfix h-cite">
          <div class="testimonial-icon">
            {% include 'svg/testimonial-icon.svg' %}
          </div>
          <cite class="testimonial-cite">
            I was the CTO of Careesma when Stephan joined the development team.
            Careesma is an international jobboard with more than 20 million monthly pageviews.
            <br />
            Stephan did a fantastic job at Careesma.
            On top of his strong engineering skills, Stephan exceeded my
            expectations about how fast he managed to fit as a team-member and the degree
            of autonomy and loyalty he showed.
          </cite>
          <div class="testimonial-author">
            <span class="p-author h-card">Javier López, CTO careesma.com</span>
            (<time class="dt-published" datetime="2016-07-20">20.07.2016</time>)
          </div>
        </div><!-- .testimonial -->

      </section><!-- .testimonials -->
    </div><!-- .col-* -->
  </div><!-- .row -->
  <hr />
  {% endblock %}
  <div class="row">
    <div class="main-column col-xs-12">
      {% block projects %}
      <section class="projects">
        <h1 class="section-title">» hand-picked projects</h1>
        {% for project in projects %}
        <article class="project">
          <header class="headlines">
            <h2>
              {% if project.externalurl %}
                <a target="_blank" href="{{ project.externalurl }}">
              {% endif %}
                {{ project.title }}
              {% if project.externalurl %}
                </a>
              {% endif %}
            </h2>

            {% if project.subline %}
            <h3>
              {% if project.sublineurl %}
              <a href="{{ project.sublineurl }}">
              {% endif %}

              {{ project.subline|safe }}

              {% if project.sublineurl %}
              </a>
              {% endif %}
            </h3>
            {% endif %}
          </header><!-- .headlines -->

          <section class="project-content main-copy">
            {{ project.content|safe }}
          </section><!-- .project.main-copy -->

          <div class="preview row">
            <div class="col-xs-12 col1">
              <div class="techcloud">
                <span class="icomoon-tag" aria-hidden="true"></span>
                {% for tag in project.tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor%}
              </div><!-- .techcloud -->
              <div class="date">
                {{ project.duration }}
              </div><!-- .date -->
            </div>
          </div><!-- .preview -->

        </article><!-- .project -->
        {% endfor %}
      </section><!-- .projects -->
      {% endblock %}

    </div><!-- main-column -->
  </div>

  <div class="row">
    <div class="col-xs-12">
      <section class="intro">
        <h2>Was erfolgreiche Teams ausmacht?</h2>
        <div class="intro-copy">
          <p>
              Für mich als Softwareentwickler gibt es zwei Konzepte, die mir besonders wichtig sind und die
              ich in allen gut funktionierenden Teams und Projekten wiedergefunden habe:
              <ul>
                <li>
                  <strong>Strong Ownership</strong><br>
                  Das Team (und damit jeder Entwickler) muss Gesamtverantwortung für ein Produkt oder Service haben und
                    sich gegenüber dem Endkunden verantwortlich fühlen.
                </li>
                <li>
                    <strong>Fast Prototyping</strong><br>
                    Ideen und Konzepte müssen schnell abgetestet werden.
                    Je weniger technischer Aufwand um eine Idee zu testen, desto besser.
                </li>
              </ul>
          </p>
            <hr>
          <p>
            Hier meine Lieblingsbücher und -resourcen, in denen beide Konzepte wiederzufinden sind:
            <ul>
              <li>
                  <a target="_blank" href="https://www.whatmatters.com/the-book/">
                      Measure what matters</a><br>
                  „Get Started With OKRs. Your step-by-step guide for setting and achieving audacious goals.”
              </li>
              <li>
                  <a target="_blank" href="https://www.gv.com/sprint/">
                      The Google design sprint</a><br>
                  „The sprint is a five-day process for answering critical business questions through design,
                  prototyping, and testing ideas with customers.”
              </li>
              <li>
                  <a target="_blank" href="https://www.strategyzer.com/canvas/business-model-canvas">
                      The Value Proposition Canvas</a><br>
                  „How to better understand customers and create value propositions that sell.”
              </li>
              <li>
                  <a target="_blank" href="https://www.morawa.at/detail/ISBN-9781984801463/Iger-Robert/The-Ride-of-a-Lifetime">
                      The Ride of a Lifetime</a><br>
                  „The former CEO of Disney shares the ideas and values he embraced during his fifteen years as CEO while reinventing one of the world's most beloved companies”
              </li>
            </ul>
          </p>
        </div>
      </section>
    </div>
  </div>
{% endblock %}


{% block footer %}
  <footer class="main-footer" style="background-color: #000; opacity:.75;">
    <div class="container">
      <div class="row">
        <address class="contact
                        col-md-12">
          <div class="row">
            <div class="contact-email
                        col-md-8">
              <h2>
                <a class="email" href="mailto:{{ AUTHOR_EMAIL }}">
                  » {{ AUTHOR_EMAIL }}
                </a>
              </h2>
            </div><!-- .contact-email -->
            <div class="contact-tel
                        col-md-4">
              <h2>
                <a class="tel" href="tel:{{ AUTHOR_TEL }}">{{ AUTHOR_TEL }}</a>
              </h2>
            </div><!-- .contact-tel -->
          </div>
        </address><!-- .contact -->
        <address class="address col-md-12">
          <h3>
            {{ AUTHOR_STREET }} ⬩ {{ AUTHOR_CITY }} ⬩ UID: {{ AUTHOR_UID }}
          </h3>
        </address><!-- .address -->

      </div>
    </div><!-- .container -->
  </footer><!-- .main-footer -->
{% endblock %}
