

/* ==========================================================================
   Author's custom styles
   Palette see: http://0to255.com/436db4
   ========================================================================== */
.container {
   padding: 0;
}

body {
  font-weight: normal;
  font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  font-family: inherit;
  line-height: 1.5em;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

h1,
h2,
h3 {
  line-height: 1em;
}

h1 {
  font-size: 3em;
  font-weight: 300;
}

h2 {
  font-size: 2em;
  font-weight: 300;
}

h3 {
  font-size: 1em;
  font-weight: 500;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

@font-face {
   font-family: 'icomoon';
   src:url('../fonts/icomoon.eot');
   src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.svg#icomoon') format('svg');
   font-weight: normal;
   font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
   font-family: 'icomoon';
   content: attr(data-icon);
   speak: none;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icomoon-at:before, .icomoon-iphone:before, .icomoon-github:before, .icomoon-tag:before, .icomoon-mail:before {
   font-family: 'icomoon';
   speak: none;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
}
.icomoon-at:before {
   content: "\e000";
}
.icomoon-iphone:before {
   content: "\e001";
}
.icomoon-github:before {
   content: "\e002";
}
.icomoon-tag:before {
   content: "\e003";
}
.icomoon-mail:before {
   content: "\e004";
}


.main-header a, .main-header a:hover,
.main-footer a, .main-footer a:hover,
h1 a, h1 a:hover,
h2 a, h2 a:hover,
h3 a, h3 a:hover { color: inherit; }


.main-header, .main-footer { color: #bbb; }
.main-header { padding-top: 2em; }
.main-header h1,
.main-header h2,
.main-header h3 { padding:.25rem 1rem; }

.main-header .name { color:#000; margin-top: 0; text-transform: uppercase; }
.main-header .profession { color:#000; padding: 1rem 1rem .5rem; margin-top: 0; text-align: right; }
.main-header .claim { margin-top: 0; padding: .375rem 1rem; }
.main-header .address { margin: 0; text-align: right; }
.main-header .contact { padding: 0 1rem .25rem 0; margin-top: 0; text-align: right; }

.main-footer { background-color: #fff; padding-bottom: 2em; width:100%; }
.main-footer .container { border: none; }

.main-footer .contact .contact-tel { text-align: right; }
.main-footer .contact h2 { font-size: 1.75rem }
@media (min-width: 768px) {
  .main-footer .contact h2 { font-size: 2.5rem }
}
.main-footer .address h3 { font-weight: 300; margin-top: 0; }
.main-footer .logo { font-size:.75em; margin-top: 1.5em; position: relative; text-align: right; }
.main-footer .logo img { margin-left: .5em; position: absolute; top: -18px; }


.portrait { height: 270px; text-align: center; }

.main-column { padding-bottom: 8rem; }
.sidebar { padding-bottom: 8rem; }

.main-column h1,
.main-column h2,
.main-column h3 { padding: 0 1rem; }

.main-column h1 { text-align: right; }

.main-copy h1 { text-align: left;}
.headlines h3 { color: #bbb; font-weight: 500; font-size: 1.5em; font-style: italic; }

.intro { padding: 3rem 1rem 3rem; line-height: 1.6em; font-size: 1em; }
.intro .intro-copy { margin-bottom: 1rem; font-size: 1.25em; line-height: 1.5em;}
.intro .intro-copy li { line-height: inherit; margin-top: .5em; }

.testimonials { padding: 3rem 1rem 3rem; line-height: 1.6em; font-size: 1em; }
.testimonials .testimonial { margin-bottom: 8rem; font-size: 1.25em; line-height: 1.5em;}
.testimonials .testimonial:last-child { margin-bottom: 0; }
.testimonials .testimonial li { line-height: inherit; margin-top: .5em; }
.testimonial-icon { float: left; }
.testimonial-cite { display: block; margin-left: 3em; }
.testimonial-author { color: #bbb; margin-top: .5em; }

.contact-claim { text-align: center; }
.contact-claim a.email { color: #fff; background: #e74c3c; display: block; text-transform: uppercase; font-weight: 500; margin-right:1em; padding: 0.5em;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
}
.contact-claim a.email:hover { text-decoration: inherit; background: #b82617; }
.socialmedia { text-align: center; }

.projects .section-title { margin-bottom: .75em; }
.project { margin-bottom: 8em; }
.project:last-child { margin-bottom: 0; }
.project .headlines h2:first-child { margin-top: 0; }
.project .preview { background: #363639; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; color: #fff; margin-left:0; }
.project .preview .col1 { padding: 1em 0; margin-left:0  ; }
.project .techcloud { border-bottom: 5px solid #2b2b2e; padding-bottom: .75em; padding-right:1rem; margin-bottom: .75em; margin-left:20px; }
.project .date { color: #bbb; font-size: .75em; font-style: italic; margin-left:20px; text-align: right; padding-right:1rem; }
.project .project-content { margin: 1rem 2rem; }

.skills, .events { margin: 0.25rem 1rem 3rem; }
.event small { font-style: italic; }
.event li { margin-bottom: .75em; }

.main-copy h1,
.main-copy h2,
.main-copy h3 { margin: 1.5rem 0 1rem; padding: 0; }

.main-copy h1, .skill h1 { font-size: 1.25em; text-transform: uppercase; }
.main-copy h2, .skill h2 { font-size: 1em; }
.main-copy h3, .skill h3 { font-size: 1em; }

.main-copy ul { margin: 0 0 10px 20px; }
.main-copy > ul { margin-left:0; }

.main-copy blockquote { border-left: 10px solid #cef; font-size: 1.125em; font-style: italic; font-weight: 300; line-height: 1.5em; margin: 20px 0 20px -32px; padding: 10px 0 10px 20px; text-transform: uppercase; }

body.location-bg { background: url('../img/location.jpg') no-repeat center top; }
.location-bg .portrait { visibility: hidden; }
.location-bg .main-footer { -webkit-box-shadow: 0 0 10px #152238;
                               -moz-box-shadow: 0 0 10px #152238;
                                    box-shadow: 0 0 10px #152238; }

img[src^="http://placehold.it/"] {
   vertical-align: top;
   margin-bottom: 16px;
}

